@import '@/styles/variables.module.scss';

.pagination {
  display: flex;
  justify-content: center;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  &_previous,
  &_next,
  &_active {
    cursor: pointer;
    background-color: #ecd06f;
    color: $white;
    border: 2px solid #e0e0e0;
    text-align: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &_link {
    cursor: pointer;
  }

  &_disabled {
    background-color: gray;
    cursor: not-allowed;
  }
}
