*,
::after,
::before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  line-height: inherit;
  font-family: var(--font-nunito), sans-serif;
}

img,
video {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

// Components

.container {
  max-width: 1280px;
  width: calc(100% - 3rem);
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

@media (min-width: 1024px) {
  .container {
    margin: auto;
  }
}
