$background-primary-color: #2779a7;
$background-characters-color: #757575;
$background-episodes-color: #ffcc80;
$background-locations-color: #9e9e9e;
$background-ram-color: #d1e8a1;
$text-search-color: #757575;
$input-border-color: #e0e0e0;
$white: #fff;
$black: #000;
$primary-btn-color: #526e2d;
$secondary-text-color: #9e9e9e;
$alive-400: #66bb6a;
$alive-500: #4caf50;
$dead-400: #ef5350;
$dead-500: #f44336;
$unknown-400: #bdbdbd;
$unknown-500: #9e9e9e;
